<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kl.blueberry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:icon="@mipmap/blueberry_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/blueberry_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.playlist.PlaylistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.sign_up.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.signin.SignInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.splash_screen.SplashScreenActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".utils.ParentActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>